#### Looping through Key-Value pairs

In [2]:
user_age={
    'John':10,
    'Tom': 15,
    'Tim': 20,
    'Jack':25,
}
print(user_age)

{'John': 10, 'Tom': 15, 'Tim': 20, 'Jack': 25}

In [9]:
for key,value in user_age.items():
    print("Name:"+key)
    print("Age:"+str(value))

Name:John
Age:10
Name:Tom
Age:15
Name:Tim
Age:20
Name:Jack
Age:25

##### Looping through Keys

In [10]:
user_age={
    'John':10,
    'Tom': 15,
    'Tim': 20,
    'Jack':25,
}
print(user_age)

{'John': 10, 'Tom': 15, 'Tim': 20, 'Jack': 25}

In [13]:
for a in user_age.keys():
    print("Your name is " + a)

Your name is John
Your name is Tom
Your name is Tim
Your name is Jack

In [14]:
for a in user_age:
    print("Your name is " + a)

Your name is John
Your name is Tom
Your name is Tim
Your name is Jack

In [18]:
for a in user_age:
    if a=='John':
        print("John , Welcome to Python Course.")

John , Welcome to Python Course.

In [21]:
if 'John' in user_age.keys():
    print("John, Welcome to Python Course.")

John, Welcome to Python Course.

##### Sorting Keys while Looping

In [23]:
user_age={
    'John':10,
    'Tom': 15,
    'Tim': 20,
    'Jack':25,
    'Aeraaf': 29,
    'David': 33,
}
print(user_age)

{'John': 10, 'Tom': 15, 'Tim': 20, 'Jack': 25, 'Aeraaf': 29, 'David': 33}

In [25]:
for a in sorted(user_age.keys()):
    print("Your name is " +a)

Your name is Aeraaf
Your name is David
Your name is Jack
Your name is John
Your name is Tim
Your name is Tom

### Looping through Values

In [26]:
user_age={
    'John':10,
    'Tom': 15,
    'Tim': 20,
    'Jack':25,
    'Aeraaf': 29,
    'David': 33,
}
print(user_age)

{'John': 10, 'Tom': 15, 'Tim': 20, 'Jack': 25, 'Aeraaf': 29, 'David': 33}

In [27]:
for a in user_age.values():
    print(a)

10
15
20
25
29
33

###### *Duplicate name automatically ignored

In [28]:
user_age={
    'John':10,
    'Tom': 15,
    'Tom': 15,
    'Tim': 20,
    'Jack':25,
    'Aeraaf': 29,
    'Aeraaf': 29,
    'David': 33,
}
print(user_age)

{'John': 10, 'Tom': 15, 'Tim': 20, 'Jack': 25, 'Aeraaf': 29, 'David': 33}

###### *Avoiding Duplicate Value

In [29]:
user_age={
    'John':10,
    'Shivam': 15,
    'Tom': 15,
    'Tim': 20,
    'Jack':25,
    'Rahul': 29,
    'Aeraaf': 29,
    'David': 33,
}
print(user_age)

{'John': 10, 'Shivam': 15, 'Tom': 15, 'Tim': 20, 'Jack': 25, 'Rahul': 29, 'Aeraaf': 29, 'David': 33}

In [30]:
for a in user_age.values():
    print(a)

10
15
15
20
25
29
29
33

###### *Using SET method to remove duplicate method

In [31]:
for a in set(user_age.values()):
    print(a)

33
10
15
20
25
29